/2024
/2025
/workspace/knn_join
*.crc
*.parquet
/workspace/interp_points
/workspace/p_diff
/workspace/stations
/workspace/USA_geom
/workspace/test_geotiff
/workspace/test_geotiff2
/workspace/idw_polys
/workspace/ca_interp_points
/workspace/CA_geom
